@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0d0d0d !important;
}

button,
.no-tap {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://pub-b66b819f148445b792a6e91af8481614.r2.dev/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
