@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #fff !important;
}

button,
.no-tap {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a,
a:hover {
  text-decoration: none !important;
}

/* add CSS variables to handle safe area */
:root {
  --Dark-T1: #e0e2f6;
  --Light-T1: #0f1233;
  --Light-T2: #333;
}



img {
  max-width: none;
}

.swiper-slide {
  overflow: hidden !important;
}

@keyframes slide {
  0% {
    opacity: 0;
    height: 0px;
  }

  50% {
    opacity: 0;
    height: 100px;
  }

  100% {
    opacity: 1;
    height: 190px;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(90%);
    opacity: 0;
  }

  50% {
    transform: translateX(30%);
    opacity: 0.4;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-from-right {
  animation: slideInFromRight 0.25s ease-out forwards;
}

video {
  transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.chakra-checkbox__control[data-checked] {
  background: #6254FF !important;
  border-color: #6254FF !important;
}