@font-face {
  font-family: 'Switzer-Regular';
  src: url('./assets/fonts/Switzer-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('./assets/fonts/Switzer-Medium.ttf') format('opentype');
  font-style: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer-Bold';
  src: url('./assets/fonts/Switzer-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  unicode-range: U+30-39;
  src: url('./assets/fonts/Roboto-Medium.ttf') format('opentype');
}

html,
body {
  font-family: 'Switzer', sans-serif !important;
}

body {
  overflow: hidden;
  height: 100vh;
}

.root-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100%;
  /* overflow-y: auto; */
  /* background: red; */
}

h1,
h2,
h3 {
  font-family: 'Switzer-Bold', sans-serif;
}

h4,
h5 {
  font-weight: 500;
  font-family: 'Switzer', sans-serif;
}

p {
  font-weight: 400;
  font-family: 'Switzer', sans-serif !important;
}

input:focus,
textarea:focus,
button:focus {
  box-shadow: none !important;
  border-color: teal !important;
  outline: none !important;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  font-size: 3rem;
  color: #333;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
